{% extends 'base.html' %}

{% block content %}
<div>
    <h2>{{ name }}</h2>
</div>
<ul class="post">
    {% for post in posts %}

    <li>
        <div class="post">
            <div class="top-panel">
                <p class="first"><b>Статья {{ post.pk }}. {{ post.title }}</b></p>
                <p class="last">{{ post.time_create|date:"d-m-Y H:i:s" }}</p>
            </div>

            {{ post.content|linebreaks|slice:":100" }} <a href="{% url 'post' post.id %}">Подробнее...</a><br>
            <div class="clear"></div>
            <div class="buttons">
                <p class="button"><a href="#"><b>Редактировать</b></a></p>
                <p class="button"><a href="#"><b>Удалить</b></a></p>
            </div>
        </div>
    </li>

    {% endfor %}
</ul>
{% endblock content %}