{% extends 'base.html' %}

{% block content %}
<div id="top">
    <h2><a id="name" title="Изменить" href="{% url 'update_name' 1 %}">{{ name }}</a></h2>
    <p class="button last"><a href="{% url 'create' %}"><b>Добавить статью</b></a></p>
</div>
<ul class="post">
    {% for post in posts %}

    <li>
        <a class="post_ref" href="{% url 'post' post.pk %}">
            <div class="post">
                <div class="top-panel">
                    <p class="first"><b>Статья {{ post.pk }}. {{ post.title }}</b></p>
                    <p class="last">{{ post.time_create|date:"d-m-Y H:i:s" }}</p>
                </div>

                {{ post.content|linebreaks|slice:":100" }} <a href="{% url 'post' post.id %}">Подробнее...</a><br>
                <div class="clear"></div>
                <div class="buttons">
                    <p class="button"><a href="{% url 'update' post.id %}"><b>Редактировать</b></a></p>
                    <p class="button"><a href="{% url 'delete' post.id %}"><b>Удалить</b></a></p>
                </div>
            </div>
        </a>
    </li>

    {% endfor %}
</ul>
{% endblock content %}