html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.center {
    margin: auto;
    width: 30%;
    padding: 10px;
}

.post {
    position: relative;
    margin-bottom: 50px;
}

.buttons {
    position: absolute;
    right: 0px;
}

.button {
    display: inline;
    border: 4px solid black;
    padding: 4px;
    text-align: right;
}

p.first {
    font-size: 20px;
    margin: 0;
    float: left;
}

#top {
    margin-bottom: 70px;
}
p.last {
    margin: 0;
    float: right;
}

ul.post {
    list-style: none;
    margin: 0;
    padding: 0;
}
p.button > a, #name, .post_ref{
    text-decoration:none;
    color: black;
}
.clear {
    clear: both;
}

div.top-panel {
    padding: 5px 10px 5px 10px;
    box-sizing border-box;
    overflow: hidden;
}

form {
    margin-bottom: 50px;
}